<?xml version="1.0" encoding="UTF-8"?>
<ser:proxyServiceEntry xmlns:ser="http://www.bea.com/wli/sb/services" xmlns:con="http://www.bea.com/wli/sb/services/security/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:oper="http://xmlns.oracle.com/servicebus/proxy/operations" xmlns:tran="http://www.bea.com/wli/sb/transports" xmlns:env="http://www.bea.com/wli/config/env">
    <ser:coreEntry>
{% set is_sap = (endpoint and endpoint.get('uri') and 'sap/bc/' in endpoint.get('uri')) or (wsdl.get('namespace') and 'sap-com' in wsdl.get('namespace')) %}
{% if is_sap %}
        <ser:security>
            <con:inboundWss processWssHeader="true"/>
        </ser:security>
{% else %}
        <ser:security>
            <con:access-control-policies>
                <con:transport-level-policy xsi:type="con1:ProviderPolicyContainerType" xmlns:con1="http://www.bea.com/wli/sb/security/accesscontrol/config">
                    <con1:policy provider-id="{{ security.provider_id | default('XACMLAuthorizer') }}">
                        <con1:policy-expression>Grp({{ module_path | default(project_name) }}/ProxyServices/{{ proxy_name }})</con1:policy-expression>
                    </con1:policy>
                </con:transport-level-policy>
            </con:access-control-policies>
        </ser:security>
{% endif %}
        <ser:binding type="SOAP" xsi:type="con:SoapBindingType" isSoap12="false" xmlns:con="http://www.bea.com/wli/sb/services/bindings/config">
            <con:wsdl ref="{{ module_path | default(project_name) }}/WSDLs/{{ wsdl_file_name }}"/>
            <con:binding>
                <con:name>{{ wsdl.binding_name | default(service_name + 'SoapBinding') }}</con:name>
                <con:namespace>{{ wsdl.namespace | default('http://' + (package_prefix or 'com.hsp') + '/' + service_name) }}</con:namespace>
            </con:binding>
            <con:selector type="SOAP body"/>
        </ser:binding>
        <oper:operations enabled="true"/>
        <ser:ws-policy>
            <ser:binding-mode>no-policies</ser:binding-mode>
        </ser:ws-policy>
        <ser:invoke ref="{{ module_path | default(project_name) }}/Pipelines/{{ pipeline_name }}" xsi:type="con:PipelineRef" xmlns:con="http://www.bea.com/wli/sb/pipeline/config"/>
        <ser:xqConfiguration>
            <ser:snippetVersion>1.0</ser:snippetVersion>
        </ser:xqConfiguration>
    </ser:coreEntry>
    <ser:endpointConfig>
        <tran:provider-id>http</tran:provider-id>
        <tran:inbound>true</tran:inbound>
        <tran:URI>
            <env:value>/{{ module_path | default(project_name) }}/ProxyServices/{{ proxy_name }}</env:value>
        </tran:URI>
        <tran:inbound-properties/>
        <tran:provider-specific xsi:type="http:HttpEndPointConfiguration" xmlns:http="http://www.bea.com/wli/sb/transports/http">
            <http:inbound-properties>
                <http:client-authentication xsi:type="http:HttpBasicAuthenticationType"/>
            </http:inbound-properties>
            <http:compression>
                <http:compression-support>false</http:compression-support>
            </http:compression>
        </tran:provider-specific>
    </ser:endpointConfig>
</ser:proxyServiceEntry>
